/* CSS for popup.html */

/* Default light theme styles */
body {
    font-family: Arial, sans-serif;
    background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent background */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .popup-container {
    background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent white background */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    color: #333;
    font-size: 24px;
    margin: 0;
  }
  
  h2 {
    color: #666;
    font-size: 18px;
    margin: 10px 0;
  }
  
  a {
    color: #0078D4;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .github-link {
    margin-top: 20px;
    font-size: 18px;
    padding: 10px;
  }

/* Dark theme styles when dark mode is enabled */
@media (prefers-color-scheme: dark) {
  body {
      background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent dark background */
  }

  .popup-container {
      background-color: rgba(0, 0, 0, 0.9); /* Semi-transparent dark background */
      color: #fff; /* White text color for dark theme */
  }

  h1 {
      color: #fff; /* White text color for dark theme */
  }

  h2 {
      color: #ccc; /* Light gray text color for dark theme */
  }

  a {
      color: #1E90FF; /* Light blue link color for dark theme */
  }
}
  