/* CSS for popup.html */

/* Default light theme styles */
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f5f5f5; /* Light gray background */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Style the container */
.popup-container {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff; /* White background */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  padding: 20px;
  text-align: center;
}

/* Style the h1 */
.popup-container h1 {
  color: #333; /* Dark gray text */
  font-size: 28px;
  margin-bottom: 10px;
}

/* Style the h2 elements */
.popup-container h2 {
  font-size: 18px;
  color: #666; /* Gray text */
  margin-top: 10px;
  border-radius: 10px; /* Rounded background */
  padding: 8px 12px; /* Padding inside the rounded background */
  background-color: #f3f3f3; /* Background color for h2 elements */
  color: #000000; /* Text color inside the rounded background */
}

/* Style the GitHub link */
.github-link {
  margin-top: 20px;
}

.github-link a {
  color: #0078D4; /* Blue link color */
  text-decoration: none;
  font-weight: bold;
}

.github-link a:hover {
  color: #0056b3; /* Darker blue on hover */
}

/* Icon styles (Font Awesome) */
.github-link i {
  font-size: 24px;
  margin-right: 8px;
  color: #0078D4; /* Blue icon color */
}

/* Dark theme styles when dark mode is enabled */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #0f0f0f; /* Dark background */
  }

  .popup-container {
    background-color: #0f0f0f; /* Dark background for the container */
    color: #fff; /* White text color */
  }

  .popup-container h1 {
    color: #ddd; /* Light gray text color in dark mode */
  }

  .popup-container h2 {
    font-size: 18px;
    color: #ccc; /* Light gray text color in dark theme */
    margin-top: 10px;
    border-radius: 10px; /* Rounded background for dark theme */
    padding: 8px 12px; /* Padding inside the rounded background in dark theme */
    background-color: #242323; /* Background color for h2 elements in dark theme */
    color: #ccc; /* Text color inside the rounded background in dark theme */
  }

  .popup-container h2#instructions a {
    color: #1E90FF;
  }

  .github-link a {
    color: #1E90FF; /* Light blue link color in dark mode */
  }
}